<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录/注册</title>
    <link href="../static/css/navigation_bar.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/footer.css" rel="stylesheet" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/login.css">
</head>
<style>
    body {
        background-color: #cde6c7;
    }

    .content-nav {
        margin-top: 60px;
    }
</style>
<body>
<div class="header">
    <div class="header-left">
        <div class="header-logo">
            <img src="../static/images/bike-logo.png">
        </div>
    </div>
    <div class="header-right">
        <div class="left">
            <ul>
                <li>
                    <a href="index">首页</a>
                </li>
                <li>
                    <a href="history_data_analyse">历史数据可视化分析</a>
                </li>
                <li>
                    <a href="dataset">数据集</a>
                </li>
                <li>
                    <a href="self_visualisation">用户数据可视化</a>
                </li>
                <li>
                    <a href="predict_bike">预测骑行量</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <div id="before-login">
                <ul>
                    <li><a href="/login">登录</a></li>
                    <li><a href="/register">注册</a></li>
                </ul>
            </div>
            <div id="after-login">
                <div id="userName">
                    <a href="#"><i class="icon_userName"></i><span>{{ userName }}</span><i
                            class="icon_drop_down"></i></a>
                </div>
                <div id="my">
                    <ul>
                        <li class="top">
                            <a href="/my"><i class="icon_homepage"></i>个人主页</a>
                        </li>
                        <li class="bottom">
                            <a href="/logout"><i class="icon_logout"></i>退出登录</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

</div>
<div class="content-nav">
    <div class="content-nav-left">
        <img src="../static/images/b.jpeg" width="450" height="500">
    </div>
    <div class="content-nav-right">
        <div class="form-right">
            <div class="form-font">
                <span class="login-form">请登录</span><br>
                <span class="register-form">没有账号，请点击右上角注册</span>
            </div>

            <div class="content-form">
                <form method="post" action="login_form">
                    {% csrf_token %}
                    <input type="text" name="userName" placeholder="请输入用户名" style="font-size: 15px;"
                           id="username"><span
                        style="color:red;font-size: 15px">{{ userName_msg }}</span>
                    <br>
                    <hr style="width: 400px;">
                    <input type="password" name="password" placeholder="请输入密码" style="font-size: 15px;"
                           id="password"><span style="color:red;font-size: 15px">{{ password_msg }}</span>
                    <br>
                    <hr style="width: 400px;">
                    <br>
                    <span style="color:red;font-size: 15px" id="userName_msg"></span>
                    <span style="color:red;font-size: 15px" id="password_msg"></span><br>
                    <input type="submit" value="开始使用"
                           style="width:150px;height: 35px;background-color: rgb(172, 162, 231);" id="submit">
                </form>
            </div>
        </div>

    </div>
</div>
<div class="footer-nav">
    <span>CopyRight@copy2021</span>
</div>
<script src="../static/js/jquery-3.6.0.min.js"></script>
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script>

    userName = '{{ userName }}'
    if (userName == '') {
        $('#after-login').css('display', 'none')
    } else {
        $('#before-login').css('display', 'none')
    }
    $('#userName').click(function () {
        $('#my').slideToggle(500)
    })
    $('#submit').click(function () {
        msg = 0
        if ($('#username').val().length == 0) {
            $('#userName_msg').text('请输入用户名')
            msg = 1
        }
        if ($('#password').val().length == 0) {
            $('#password_msg').text('请输入密码')
            msg = 1
        }
        if(msg == 1){
            return false
        }
    })

</script>

</body>
</html>