<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/css/icon.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/css/navigation_bar.css" rel="stylesheet" type="text/css"/>

</head>
<style>
    body{
        background-color: #d3d7d4;
    }
    .image {
        padding: 25px 50px 25px 50px;
        margin-top: 12px;
        margin-left: 90px;
        float: left;
        border-radius: 5px;
        text-align: center;
        background-color: white;
    }

    .image img {
        width: 360px;
        height: 180px;
        border: 1px solid #d3d7d4;
        border-radius: 15px;
    }
</style>
<body>
<div class="content">
    <div class="image">
        <div><a href="route"><img src="../../static/images/route.JPG"></a></div>
        <div class="font"><a href="route">骑行路线</a></div>
    </div>
    <div class="image">
        <div><a href="heat"><img src="../../static/images/heat.JPG"></a></div>
        <div class="font"><a href="heat">热点区域</a></div>
    </div>
    <div class="image">
        <div><a href="influence"><img src="../../static/images/boxplot.JPG"></a></div>
        <div class="font"><a href="influence">影响因素</a></div>
    </div>
    <div class="image">
        <div><a href="user"><img src="../../static/images/line.JPG"></a></div>
        <div class="font"><a href="user">用户画像</a></div>
    </div>
</div>
</body>
</html>