<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        th{
            display: none;
        }
        .table{
            font-size: 20px;
        }
    </style>
</head>
<body>
<div class="table">
    <table border="1" cellspacing="0" class="dataframe" cellpadding="5" width="400px">
        <thead>
        <tr style="text-align: right;">
            <th></th>
            <th>temp</th>
            <th>speed</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>0</th>
            <td>temp</td>
            <td>speed</td>
        </tr>
        <tr>
            <th>1</th>
            <td>12</td>
            <td>6</td>
        </tr>
        <tr>
            <th>2</th>
            <td>12</td>
            <td>9</td>
        </tr>
        <tr>
            <th>3</th>
            <td>12</td>
            <td>5</td>
        </tr>
        <tr>
            <th>4</th>
            <td>12</td>
            <td>12</td>
        </tr>
        <tr>
            <th>5</th>
            <td>12</td>
            <td>8</td>
        </tr>
        <tr>
            <th>6</th>
            <td>12</td>
            <td>6</td>
        </tr>
        <tr>
            <th>7</th>
            <td>12</td>
            <td>8</td>
        </tr>
        <tr>
            <th>8</th>
            <td>12</td>
            <td>12</td>
        </tr>
        <tr>
            <th>9</th>
            <td>12</td>
            <td>5</td>
        </tr>
        <tr>
            <th>10</th>
            <td>12</td>
            <td>46</td>
        </tr>
        <tr>
            <th>11</th>
            <td>13</td>
            <td>5</td>
        </tr>
        <tr>
            <th>12</th>
            <td>13</td>
            <td>2</td>
        </tr>
        <tr>
            <th>13</th>
            <td>13</td>
            <td>48</td>
        </tr>
        <tr>
            <th>14</th>
            <td>13</td>
            <td>8</td>
        </tr>
        <tr>
            <th>15</th>
            <td>13</td>
            <td>9</td>
        </tr>
        <tr>
            <th>16</th>
            <td>13</td>
            <td>6</td>
        </tr>
        <tr>
            <th>17</th>
            <td>13</td>
            <td>12</td>
        </tr>
        <tr>
            <th>18</th>
            <td>13</td>
            <td>15</td>
        </tr>
        <tr>
            <th>19</th>
            <td>13</td>
            <td>13</td>
        </tr>
        <tr>
            <th>20</th>
            <td>14</td>
            <td>8</td>
        </tr>
        <tr>
            <th>21</th>
            <td>14</td>
            <td>7</td>
        </tr>
        <tr>
            <th>22</th>
            <td>14</td>
            <td>6</td>
        </tr>
        <tr>
            <th>23</th>
            <td>14</td>
            <td>1</td>
        </tr>
        <tr>
            <th>24</th>
            <td>14</td>
            <td>5</td>
        </tr>
        <tr>
            <th>25</th>
            <td>14</td>
            <td>9</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>